<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.fabric.node.manager.api.chaincode.ChainCodeMapper">
    <resultMap id="chainCodeMap" type="com.webank.fabric.node.manager.common.pojo.chaincode.ChainCodeDO">
        <id column="chain_code_pk" javaType="java.lang.Integer" jdbcType="INTEGER" property="chainCodePk"/>
        <result column="chain_code_name" javaType="java.lang.String" jdbcType="VARCHAR" property="chainCodeName"/>
        <result column="chain_code_lang" javaType="java.lang.String" jdbcType="VARCHAR" property="chainCodeLang"/>
        <result column="chain_code_version" javaType="java.lang.String" jdbcType="VARCHAR" property="chainCodeVersion"/>
        <result column="channel_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="channelId"/>
        <result column="chain_code_source" javaType="java.lang.String" jdbcType="VARCHAR" property="chainCodeSource"/>
        <result column="chain_code_status" javaType="java.lang.Integer" jdbcType="INTEGER" property="chainCodeStatus"/>
        <result column="chain_code_id" javaType="java.lang.String" jdbcType="VARCHAR" property="chainCodeId"/>
        <result column="description" javaType="java.lang.String" jdbcType="VARCHAR" property="description"/>
        <result column="deploy_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" property="deployTime"/>
        <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>


    <insert id="add" parameterType="com.webank.fabric.node.manager.common.pojo.chaincode.ChainCodeDO">
        insert into
        tb_chain_code(channel_id,chain_code_lang,chain_code_name,chain_code_version,chain_code_source,create_time,modify_time)
        values(#{channelId},#{chainCodeLang},#{chainCodeName},#{chainCodeVersion},#{chainCodeSource},NOW(),NOW())
        <selectKey keyProperty="chainCodePk" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>

    </insert>

    <delete id="remove" parameterType="java.lang.Integer">
        delete from tb_chain_code where chain_code_pk = #{chainCodePk}
    </delete>


    <update id="update" parameterType="com.webank.fabric.node.manager.common.pojo.chaincode.ChainCodeDO">
        update tb_chain_code set modify_time = now()
        <if test="chainCodeSource != null and chainCodeSource != ''">
            ,chain_code_source = #{chainCodeSource}
        </if>
        <if test="chainCodeId != null and chainCodeId != ''">
            ,chain_code_id = #{chainCodeId}
        </if>
        <if test="chainCodeStatus != null and chainCodeStatus != ''">
            ,chain_code_status = #{chainCodeStatus}
        </if>
        <if test="chainCodeName != null and chainCodeName != ''">
            ,chain_code_name = #{chainCodeName}
        </if>
        <if test="chainCodeVersion != null and chainCodeVersion != ''">
            ,chain_code_version = #{chainCodeVersion}
        </if>
        <if test="deployTime != null">
            ,deploy_time = #{deployTime}
        </if>
        <if test="description != null and description != ''">
            ,description = #{description}
        </if>
        where chain_code_pk = #{chainCodePk}
    </update>


    <select id="countOfChainCode" parameterType="com.webank.fabric.node.manager.common.pojo.chaincode.ChainCodeParam"
            resultType="java.lang.Integer">
        select count(1) from tb_chain_code where 1=1
        <if test="chainCodePk != null and chainCodePk != ''">
            and chain_code_pk = #{chainCodePk}
        </if>
        <if test="channelId != null and channelId != ''">
            and channel_id = #{channelId}
        </if>
        <if test="chainCodeName != null and chainCodeName != ''">
            and chain_code_name like CONCAT('%',#{chainCodeName},'%')
        </if>
        <if test="chainCodeId != null and chainCodeId != ''">
            and chain_code_id = #{chainCodeId}
        </if>
        <if test="chainCodeVersion != null and chainCodeVersion != ''">
            and chain_code_version = #{chainCodeVersion}
        </if>
        <if test="chainCodeStatus != null and chainCodeStatus != ''">
            and chain_code_status = #{chainCodeStatus}
        </if>
    </select>


    <select id="listOfChainCode" parameterType="com.webank.fabric.node.manager.common.pojo.chaincode.ChainCodeParam"
            resultMap="chainCodeMap">
        select * from tb_chain_code where 1=1
        <if test="chainCodePk != null and chainCodePk != ''">
            and chain_code_pk = #{chainCodePk}
        </if>
        <if test="channelId != null and channelId != ''">
            and channel_id = #{channelId}
        </if>
        <if test="chainCodeStatus != null and chainCodeStatus != ''">
            and chain_code_status = #{chainCodeStatus}
        </if>
        <if test="chainCodeName != null and chainCodeName != ''">
            and chain_code_name = #{chainCodeName}
        </if>
        <if test="chainCodeVersion != null and chainCodeVersion != ''">
            and chain_code_version = #{chainCodeVersion}
        </if>
        <if test="chainCodeId != null and chainCodeId != ''">
            and chain_code_id = #{chainCodeId}
        </if>
        <if test="flagSortedByTime != null and flagSortedByTime != ''">
            order by modify_time ${flagSortedByTime}
        </if>
        <if test="start != null and pageSize != null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="queryByChainCodePk" parameterType="java.lang.Integer" resultMap="chainCodeMap">
        select * from tb_chain_code where chain_code_pk = #{chainCodePk}
    </select>

    <select id="queryChainCode" parameterType="com.webank.fabric.node.manager.common.pojo.chaincode.ChainCodeParam"
            resultMap="chainCodeMap">
        select * from tb_chain_code where 1=1
        <if test="chainCodePk != null">
            and chain_code_pk = #{chainCodePk}
        </if>
        <if test="channelId != null">
            and channel_id = #{channelId}
        </if>
        <if test="chainCodeName != null and chainCodeName != ''">
            and chain_code_name = #{chainCodeName}
        </if>
        <if test="chainCodeId != null and chainCodeId != ''">
            and chain_code_id = #{chainCodeId}
        </if>
        <if test="chainCodeStatus != null and chainCodeStatus != ''">
            and chain_code_status = #{chainCodeStatus}
        </if>
        <if test="chainCodeVersion != null and chainCodeVersion != ''">
            and chain_code_version = #{chainCodeVersion}
        </if>
        limit 1
    </select>
</mapper>