<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.fabric.node.manager.api.transaction.TransactionMapper">
    <resultMap id="transHashMap" type="com.webank.fabric.node.manager.common.pojo.transaction.TransactionDO">
        <id column="trans_number" javaType="java.math.BigInteger" jdbcType="INTEGER" property="transNumber"/>
        <result column="txId" javaType="java.lang.String" jdbcType="VARCHAR" property="txId"/>
        <result column="action_count" javaType="java.lang.Integer" jdbcType="INTEGER" property="actionCount"/>
        <result column="block_number" javaType="java.math.BigInteger" jdbcType="INTEGER" property="blockNumber"/>
        <result column="envelope_type" javaType="java.lang.String" jdbcType="VARCHAR" property="envelopeType"/>
        <result column="trans_timestamp" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
                property="transTimestamp"/>
        <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>


    <insert id="add">
        insert ignore into
        ${tableName}(txId,block_number,action_count,trans_timestamp,envelope_type,create_time,modify_time)
        values(#{trans.txId},#{trans.blockNumber},#{trans.actionCount},#{trans.transTimestamp},#{trans.envelopeType},NOW(),NOW())
    </insert>


    <select id="getCount" parameterType="com.webank.fabric.node.manager.common.pojo.transaction.TransListParam"
            resultType="java.lang.Integer">
        select count(txId) from ${tableName} where 1=1
        <if test="param.txId != null and param.txId != ''">
            and txId = #{param.txId}
        </if>
        <if test="param.blockNumber != null">
            and block_number = #{param.blockNumber}
        </if>
    </select>

    <select id="getCountByMinMax" resultType="java.lang.Integer">
        select max(trans_number) - min(trans_number) from ${tableName}
    </select>

    <select id="getList" parameterType="com.webank.fabric.node.manager.common.pojo.transaction.TransListParam"
            resultMap="transHashMap">
        select * from ${tableName} where 1=1

        <if test="param.minTransNumber != null and param.minTransNumber != ''">
            and trans_number > #{param.minTransNumber}
        </if>
        <if test="param.txId != null and param.txId != ''">
            and txId = #{param.txId}
        </if>
        <if test="param.blockNumber != null">
            and block_number = #{param.blockNumber}
        </if>
        <if test="param.flagSortedByTransNumber != null and param.flagSortedByTransNumber != ''">
            order by trans_number ${param.flagSortedByTransNumber}
        </if>
        <if test="param.start != null and param.pageSize != null">
            limit #{param.start},#{param.pageSize}
        </if>
    </select>


    <select id="queryMinMaxBlock" resultType="com.webank.fabric.node.manager.common.pojo.transaction.MinMaxBlock">
        select max(block_number) as maxBlockNumber,min(block_number) as minBLockNumber
        from ${tableName}
    </select>

    <delete id="remove">
        delete t from ${tableName} as t,(select max(trans_number) maxTransNumber,min(trans_number) minTransNumber from
        ${tableName}) t1
        where t.trans_number &lt;= (select max(trans_number) from tb_trans_daily where channel_id = #{channelId})
        and t.trans_number &lt;= t1.maxTransNumber - ${transRetainMax}
        and t.trans_number &lt;= t1.minTransNumber + 1000
    </delete>


    <select id="queryLatestTransCount"
            resultType="com.webank.fabric.node.manager.common.pojo.transaction.LatestTransCountBO">
        select max(trans_number) transNumber,count(trans_number) transCount,DATE(trans_timestamp) transDay
        from ${tableName}
        where trans_number &gt; (select IFNULL(max(trans_number),0) from tb_trans_daily where channel_id = #{channelId})
        GROUP BY DATE(trans_timestamp)
        ORDER BY trans_timestamp ASC
    </select>
</mapper>